* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    margin: 0;
    padding: 0;
    background-color: #e7bffa;
}

main {
    width: 500px;
    margin: auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #00000060;
}